<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Flower1</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>3.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower2</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>5.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower3</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>7.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower4</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>9.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower5</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>11.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower6</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>13.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower7</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>1.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower8</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-1.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower9</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-3.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower10</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-5.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower11</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-7.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower12</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-9.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower13</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-11.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower14</key>
		<dict>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-13.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower15</key>
		<dict>
			<key>x</key>
			<real>1.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>2.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower16</key>
		<dict>
			<key>x</key>
			<real>1.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>4.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower17</key>
		<dict>
			<key>x</key>
			<real>1.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>6.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower18</key>
		<dict>
			<key>x</key>
			<real>1.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>8.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower19</key>
		<dict>
			<key>x</key>
			<real>1.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>10.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower20</key>
		<dict>
			<key>x</key>
			<real>1.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>12.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower21</key>
		<dict>
			<key>x</key>
			<real>1.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-0.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower22</key>
		<dict>
			<key>x</key>
			<real>1.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-2.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower23</key>
		<dict>
			<key>x</key>
			<real>1.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-4.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower24</key>
		<dict>
			<key>x</key>
			<real>1.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-6.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower25</key>
		<dict>
			<key>x</key>
			<real>1.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-8.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower26</key>
		<dict>
			<key>x</key>
			<real>1.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-10.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower27</key>
		<dict>
			<key>x</key>
			<real>1.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-12.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower28</key>
		<dict>
			<key>x</key>
			<real>1.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-14.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower29</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>3.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower30</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>5.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower31</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>7.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower32</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>9.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower33</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>11.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower34</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>13.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower35</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>1.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower36</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-1.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower37</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-3.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower38</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-5.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower39</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-7.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower40</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-9.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower41</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-11.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower42</key>
		<dict>
			<key>x</key>
			<real>2.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-13.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower43</key>
		<dict>
			<key>x</key>
			<real>3.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>2.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower44</key>
		<dict>
			<key>x</key>
			<real>3.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>4.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower45</key>
		<dict>
			<key>x</key>
			<real>3.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>6.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower46</key>
		<dict>
			<key>x</key>
			<real>3.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>8.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower47</key>
		<dict>
			<key>x</key>
			<real>3.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>10.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower48</key>
		<dict>
			<key>x</key>
			<real>3.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>12.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower49</key>
		<dict>
			<key>x</key>
			<real>3.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-0.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower50</key>
		<dict>
			<key>x</key>
			<real>3.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-2.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower51</key>
		<dict>
			<key>x</key>
			<real>3.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-4.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower52</key>
		<dict>
			<key>x</key>
			<real>3.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-6.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower53</key>
		<dict>
			<key>x</key>
			<real>3.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-8.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower54</key>
		<dict>
			<key>x</key>
			<real>3.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-10.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower55</key>
		<dict>
			<key>x</key>
			<real>3.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-12.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower56</key>
		<dict>
			<key>x</key>
			<real>3.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-14.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower57</key>
		<dict>
			<key>x</key>
			<real>4.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>3.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower58</key>
		<dict>
			<key>x</key>
			<real>4.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>5.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower59</key>
		<dict>
			<key>x</key>
			<real>4.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>7.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower60</key>
		<dict>
			<key>x</key>
			<real>4.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>9.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower61</key>
		<dict>
			<key>x</key>
			<real>4.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>11.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower62</key>
		<dict>
			<key>x</key>
			<real>4.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>13.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower63</key>
		<dict>
			<key>x</key>
			<real>4.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>1.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower64</key>
		<dict>
			<key>x</key>
			<real>4.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-1.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower65</key>
		<dict>
			<key>x</key>
			<real>4.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-3.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower66</key>
		<dict>
			<key>x</key>
			<real>4.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-5.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower67</key>
		<dict>
			<key>x</key>
			<real>4.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-7.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower68</key>
		<dict>
			<key>x</key>
			<real>4.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-9.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower69</key>
		<dict>
			<key>x</key>
			<real>4.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-11.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower70</key>
		<dict>
			<key>x</key>
			<real>4.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-13.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower71</key>
		<dict>
			<key>x</key>
			<real>5.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>2.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower72</key>
		<dict>
			<key>x</key>
			<real>5.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>4.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower73</key>
		<dict>
			<key>x</key>
			<real>5.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>6.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower74</key>
		<dict>
			<key>x</key>
			<real>5.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>8.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower75</key>
		<dict>
			<key>x</key>
			<real>5.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>10.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower76</key>
		<dict>
			<key>x</key>
			<real>5.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>12.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower77</key>
		<dict>
			<key>x</key>
			<real>5.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-0.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower78</key>
		<dict>
			<key>x</key>
			<real>5.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-2.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower79</key>
		<dict>
			<key>x</key>
			<real>5.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-4.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower80</key>
		<dict>
			<key>x</key>
			<real>5.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-6.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower81</key>
		<dict>
			<key>x</key>
			<real>5.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-8.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower82</key>
		<dict>
			<key>x</key>
			<real>5.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-10.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower83</key>
		<dict>
			<key>x</key>
			<real>5.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-12.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower84</key>
		<dict>
			<key>x</key>
			<real>5.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-14.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower85</key>
		<dict>
			<key>x</key>
			<real>6.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>3.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower86</key>
		<dict>
			<key>x</key>
			<real>6.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>5.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower87</key>
		<dict>
			<key>x</key>
			<real>6.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>7.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower88</key>
		<dict>
			<key>x</key>
			<real>6.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>9.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower89</key>
		<dict>
			<key>x</key>
			<real>6.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>11.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower90</key>
		<dict>
			<key>x</key>
			<real>6.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>13.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower91</key>
		<dict>
			<key>x</key>
			<real>6.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>1.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower92</key>
		<dict>
			<key>x</key>
			<real>6.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-1.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower93</key>
		<dict>
			<key>x</key>
			<real>6.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-3.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower94</key>
		<dict>
			<key>x</key>
			<real>6.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-5.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower95</key>
		<dict>
			<key>x</key>
			<real>6.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-7.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower96</key>
		<dict>
			<key>x</key>
			<real>6.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-9.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower97</key>
		<dict>
			<key>x</key>
			<real>6.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-11.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
		<key>Flower98</key>
		<dict>
			<key>x</key>
			<real>6.0</real>
			<key>y</key>
			<real>0.348094859966</real>
			<key>z</key>
			<real>-13.0</real>
			<key>type</key>
			<string>flowerBlue</string>
			<key>ry</key>
			<real>-0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.3</real>
			<key>sy</key>
			<real>0.3</real>
			<key>sz</key>
			<real>0.3</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>40</integer>
		<key>Background</key>
		<string>RockNRoll</string>
		<key>GamePlayMode</key>
		<integer>5</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>10</integer>
		<key>BallTypes</key>
		<integer>2</integer>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>1.0</real>
			<key>x</key>
			<real>-7.7598158145</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.0</real>
			<key>rotationOffset</key>
			<real>3.1415965</real>
			<key>rotationBoundUpper</key>
			<real>0.0</real>
			<key>rotationBoundLower</key>
			<real>0.0</real>
		</dict>
	</dict>
</dict>
</plist>
